body {
    font-family:"Lucida Grande", verdana, helvetica, arial, sans-serif;
    background-color: #00FF99;
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    font-size:14px;
}

nav {
    background-color: #666;
    opacity: 0.6;
    font-weight:normal;
    text-decoration: none;
    display:inline-block;
}

h1  {
    position: absolute;
    margin-left:20px;
    margin-top:50px;
    color:#ffffff;  
}

.tile-label-long {
    position: absolute;
    margin-left:20px;
    margin-top:17px;
    color:#ffffff; 
}

#long-tile {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:600px;
    height:100px;
    margin:30px;
    text-decoration: none;
}
#tile-menu{
    width:100%;
    display:inline-block;
  }
.tile-box-normal {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:150px;
    height:150px;
    margin:30px;
    float:left;
    text-decoration: none;
}
.tile-box-normal :hover {
    opacity: 0.9;
}
.tile-box-big {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:300px;
    height:150px;
    margin:30px;
    float:left;
    text-decoration: none;
}
.tile-box-big :hover {
    opacity: 0.9;
}
.tile-box-small {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:75px;
    height:75px;
    margin:30px;
    float:left;
    text-decoration: none;
}

.tile-icon {
    position: absolute;
    width:50px;
    height:50px;
    margin-top:50px;
    margin-left:50px;
}

.tile-icon-big {
    width:50px;
    height:50px;
    margin-top:50px;
    margin-left:120px;
}
.tile-label {
    font-weight:bold;
    color:#ffffff;
    position: absolute;
    margin-left:5px;
    margin-top:130px;
}
.tile-label-big {
    font-weight:bold;
    color:#ffffff;
    position: absolute;
    margin-left:5px;
    margin-top:130px; 
}

#about {
    display:inline-block;
    width:100%;
}
.personal-photo {
    height:400px;
    float:left;
    margin:30px;
}
.text-about-me {
    color:#ffffff;
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:60%;
    height:100px;
    margin-top:30px;
    margin-right:130px;
    padding:10px;
    float:right;
    text-decoration: none;
}

.tiles-about {
    display: inline-block;
    width:65%;
}

#works {
    display:inline-block;
    width:100%;
}

#skills {
    display:inline-block;
    width:100%;
}

#books {
    display:inline-block;
    width:100%;
}
#contact {
    display:inline-block;
    width:100%;
}