/*BEGIN Global styles */
body {
    font-family:"Lucida Grande", verdana, helvetica, arial, sans-serif;
    background-color: #00FF99;
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    font-size:14px;
    padding:30px;
    color:#ffffff;
}
@media only screen and (width: 480px) {
    body {
       background-image: url(img/backdround2.jpg); 
    }
}
       

div {
   
}

h1 {
    color:#ffffff;
}
h2 {
    color:#ffffff;
}
h3 {
    color:#ffffff;
}
p {
    color:#ffffff;
}
/*END Global styles */

/*BEGIN Site blocks*/
#long-tile {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:60%;
    height:100px;
    text-decoration: none;
    box-shadow: 10px 10px 5px 5px #000;
    padding:5px;
}

#tile-menu {
    padding:60px;
    width:100%;
    display:inline-block;
    border: 1px solid red;
}

#about {
    padding:5px;
    border: 1px solid red;
    display:inline-block;
    width:100%;
}
#works {
    padding:5px;
    border: 1px solid red;
    display:inline-block;
    width:100%;
}
#skills {
    padding:5px;
    border: 1px solid red;
    display:inline-block;
    width:100%;
}
#books {
    padding:5px;
    border: 1px solid red;
    display:inline-block;
    width:100%;
}
#contact {
    padding:5px;
    border: 1px solid red;
    width:100%;
    display: inline-block;
}
footer {
    padding:5px;
    display:inline-block;
    border: 1px solid red;
    width:100%;
}

.block-first {
    width:49%;
    display:inline-block;
    border: 1px solid green;
}
.block-second {
    width:49%;
    display:inline-block;
    border: 1px solid green;
    float:right;
}
/* END site blocks*/

/* BEGIN Styles for tile boxes */

     /* Text in top: Hi, my name is Yurii Zinko and I am...*/
.tile-label-long {
    color:#ffffff; 
}

     /* Tile-boxes: "About", "Skills", "Books", "Contact" and "Github", "LinkedIn", "Facebook", "Location" */
.tile-box-normal {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:150px;
    height:150px;
    margin:20px;
    float:left;
    text-decoration: none;
    box-shadow: 10px 10px 5px 5px #000;
}
 
.tile-box-normal :hover {
    opacity: 0.6;
}

.tile-icon {
    position: absolute;
    width:50px;
    height:50px;
    margin-top:50px;
    margin-left:50px;
}

.tile-label {
    font-weight:bold;
    color:#ffffff;
    position: absolute;
    margin-left:5px;
    margin-top:130px;
}
     /*END*/
     
     /* Tile-boxes "Works", "Books", "Proects" */
.tile-box-big {
    display:block;
    background-color: #666;
    opacity: 0.6;
    width:340px;
    height:150px;
    margin:20px;
    float:left;
    text-decoration: none;
    box-shadow: 10px 10px 5px 5px #000;
}
.tile-box-big :hover {
    opacity: 0.6;
}

.tile-icon-big {
    width:50px;
    height:50px;
    margin-top:50px;
    margin-left:120px;
}
.tile-label-big {
    font-weight:bold;
    color:#ffffff;
    position: absolute;
    margin-left:5px;
    margin-top:130px; 
}
.tile-description {
    font-size:0.8em;
    position:absolute;
    padding:5px;
    margin-top:5px;
    text-decoration: none;
    color:#ffffff;
}
     /* END */
     
     /* Social tile-boxes */
.tile-box-small {
    display:block;
    background-color: #666;
    opacity:0.6;
    width:75px;
    height:75px;
    margin:30px;
    float:left;
    text-decoration: none;
    box-shadow: 10px 10px 5px 5px #000;
}

.tile-icon-small {
    width:25px;
    height:25px;
    margin:25px;
}


.tile-label-small {
    font-size:0.7em;
    color:#ffffff;
    position: absolute;
    margin-left:5px;
    margin-top:60px;  
}
     /*END*/
     
/* END of Styles for tile boxes */

/* BEGIN elements*/
.personal-photo {
    display:flex-box;
    width:23%;
    margin:5px;
    float:left;
    z-index:0;
}
.text-about-me {
    display:flex;
    width:72%;
    float:right;
    background-color: #666;
    opacity: 0.6;
    margin:5px;
    padding:5px;
}

form {
    width:100%;
}
input {
    width:100%;
    margin:5px;
}
textarea {
    width:100%;
}

